.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
.card img {
    transition: 0.4s;
}

.card img:hover {
    transform: scale(1.08);
}
.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    animation: appear 1s ease;
}